{{#with (formatHours this "Monday" "TimeFormatShort" "DateFormatLong") }}
{{#each this.regularHours}}
<div class="{{this.displayDay}} time-row currentDay" data-day="{{this.displayDay}}">
    <div class="day">{{this.displayDay}}</div>
    <div class="store-time-main">
        {{#if this.isClosed}}<div class="store-time !justify-start">
            <div class="close-hrs">Closed</div>
        </div>{{/if}}
        {{#if this.is247}}Open 24/7{{/if}}

        {{#each this.openIntervals}}

        <div class="store-time">
            <span class="open-hrs">{{this.start}} </span>
            <span class="saprate"> - </span>
            <span class="close-hrs">{{this.end}} </span>
        </div>
        {{/each}}
    </div>
</div>
{{/each}}
{{/with}}